body{
    background-color: rgb(0, 26, 255);
}
    h1{
    color:rgb(10, 1, 1);
    text-align: center; 
    font-size: large;
    border-radius: 60px;
    padding: 20px;
    border: double 20px rgb(90, 70, 70);
    background-color: rgb(92, 11, 197);
        }
        h2{
            color: rgb(6, 125, 155);
        }
    p{
        color: rgb(255, 255, 255);
    }
    summary{
        color: rgb(182, 62, 62);
        font-size: large 20px;
        font-style: normal;
    }
    a{
        color:rgb(0, 255, 13)
    }
    .principio{
        color: rgb(255, 255, 255);
    }
    .fondo{
        background: url(../img/fondooriginal.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .fondoP2{
        background:url(../img/fondopagina22.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .fondo3{
        background:url(../img/fondoparapg2jpg.jpg);
        background-repeat: no-repeat;
        background-size:cover ;
        background-attachment: fixed;
    }
    .fondo4{
        background:url(../img/fondopagina4.jpg);
        background-repeat: no-repeat;
        background-size:cover ;
        background-attachment: fixed;
    }