body{
    background-color: rgb(0, 26, 255);
}
    h1{
    color:rgb(10, 1, 1);
    text-align: center; 
    font-size: large;
    border-radius: 60px;
    padding: 20px;
    border: double 20px rgb(90, 70, 70);
    background-color: rgb(92, 11, 197);
        }
    p{
        color: rgb(255, 255, 255);
    }
    summary{
        color: rgb(19, 12, 12);
        font-size: large 20px;
        font-style: normal;
    }
    a{
        color:rgb(0, 255, 13)
    }
    .principio{
        color: rgb(255, 255, 255);
    }